<p>user works!</p>

<div class="col-12">
    <div class="card">
        <!-- <p-table>
            <ng-template pTemplate="caption">
                <div class="flex align-items-center justify-content-between">
                    Users Details
                    <button pButton pRipple icon="pi pi-fw pi-plus" label="Create {{userCategory}}" styleClass="p-button-sm"></button>
                </div>
                
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="AgentName">Agent Name <p-sortIcon field="AgentName"></p-sortIcon></th>
                    <th pSortableColumn="AgentEmailid">Agent Emailid <p-sortIcon field="AgentEmailid"></p-sortIcon></th>
                    <th pSortableColumn="Location">Location <p-sortIcon field="Location"></p-sortIcon></th>
                    <th pSortableColumn="createdate">Create Date <p-sortIcon field="createdate"></p-sortIcon></th>
                    <th pSortableColumn="updatedate">Update Date <p-sortIcon field="createdate"></p-sortIcon></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body">
                <tr>
                    <td></td>
                </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion">
                
            </ng-template>
        </p-table> -->
    </div>
   </div>