<p>user-creation works!</p>





<div class="grid p-fluid">
    <div class="col-12 md:col-6">
        <div class="grid formgrid">
            <div class="col-12 mb-2 lg:col-4 lg:mb-0">
                <input type="text" pInputText placeholder="Default">
            </div>
            <div class="col-12 mb-2 lg:col-4 lg:mb-0">
                <input type="text" pInputText placeholder="Disabled" [disabled]="true"/>
            </div>
            <div class="col-12 mb-2 lg:col-4 lg:mb-0">
                <input type="text" pInputText placeholder="Invalid" class="ng-dirty ng-invalid"/>
            </div>
        </div>
    </div>
</div>